body {
  background-color: grey;
}

.div1 img {
  margin: auto 40px;
  height: 50px;
  margin-bottom: 20px;
}

main {
  background-color: white;
  width: 350px;
  height: 430px;
  display: block;
  margin: 0 auto;
}

form {
  padding: 50px 50px;
  display: block;
  box-sizing: border-box;
}
button {
  background-color: rgba(0, 149, 246, 0.5);
  border: 0ch;
  color: white;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  opacity: 1;
  border-radius: 5%;
  width: 100%;
  height: 35px;
}

.input {
  margin-top: 10px;
  height: 35px;
  background-color: whitesmoke;
  width: 250px;
  border-width: 1px;
  border-color: rgb(204, 203, 203);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: small;
}

.arba {
  display: flex;
  align-items: center;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

hr {
  width: 43%;
  border-width: 0.5px;
}

div h4 {
  padding-left: 15px;
  padding-right: 15px;
}

.fblog {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.fblog a {
  padding-top: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(36, 36, 119, 0.747);
  text-decoration: none;
  font-weight: 700;
  font-size: small;
}

.fblog img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.forgot {
  text-align: center;
  padding-top: 20px;
}
.forgot a {
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12px;
}

.noacc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: white;
  width: 350px;
  height: 50px;
  display: flex;
}

.noacc a {
  text-decoration: none;
  color: rgba(0, 149, 246, 1);
  margin-block-start: 1em;
  margin-block-end: 1em;
}
